$primary: #c64e31;
$secondary: #417843;
$success: #7FB77E;
$danger: #b6584e;
$warning: #f1c40f;
$info: #3498db;
$light: #F7E6E4;
$white: #fff;
$black: #000;
$primary-foreground: #ffffff;
$background-color: #fef7f2;
$background-color: lab(97.6618% 1.68431 3.32774);

$carousel-dark-indicator-active-bg:  $black; 
$carousel-dark-caption-color:        $black;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);
$carousel-transition-duration: .4s;
