$primary: #C97A88;
$secondary: #6B5A5D;
$success: #2ecc71;
$danger: #e74c3c;
$warning: #f1c40f;
$info: #3498db;
$light: #F7E6E4;
$dark: #1a1a1a;
$white: #fff;
$black: #000;


$carousel-dark-indicator-active-bg:  $black; 
$carousel-dark-caption-color:        $black;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100);
$carousel-transition-duration: .4s;