<header class="pa-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a routerLink="/home" class="pa-brand">
        <span class="pa-brand-text">Patas alegres</span>
      </a>
      <button 
        class="navbar-toggler d-lg-none pa-icon-btn" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <!-- Usuario base -->
        <ul *ngIf="auth.isUser()" class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/profile" class="pa-nav-link" (click)="closeMenu()">Mi perfil</a>
          </li>
          <li class="nav-item">
            <a routerLink="/shelter" class="pa-nav-link" (click)="closeMenu()">Refugios</a>
          </li>
          <li class="nav-item">
            <a routerLink="/animal" class="pa-nav-link" (click)="closeMenu()">Animales</a>
          </li>
          <li class="nav-item">
            <a routerLink="/my-adoptions" class="pa-nav-link disabled">Pedidos de adopción</a>
          </li>
          <li class="nav-item">
            <a routerLink="/purchases" class="pa-nav-link disabled">Compras</a>
          </li>
        </ul>
        <!-- Usuario refugio -->
        <ul *ngIf="auth.isShelter()" class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/shelter/{{auth.getShelterIdToken()}}" class="pa-nav-link" (click)="closeMenu()">Mi refugio</a>
          </li>
          <li class="nav-item">
            <a routerLink="/rescue" class="pa-nav-link" (click)="closeMenu()">Nuevo rescate</a>
          </li>
          <li class="nav-item">
            <a routerLink="/animal" class="pa-nav-link" (click)="closeMenu()">Animales</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home" class="pa-nav-link disabled">Productos</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home" class="pa-nav-link disabled">Pedidos</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home" class="pa-nav-link disabled">Solicitudes</a>
          </li>
        </ul>
        <button type="button" class="pa-btn-link pa-logout" (click)="logOut(); closeMenu()">
          Cerrar sesión
        </button>
      </div>
    </div>
  </nav>
</header>