<header>
  <nav class="navbar navbar-expand-lg border-bottom bg-primary">
    <div class="container-fluid">
      <a routerLink="/home" class="navbar-brand fw-bold">
        <!-- icono de una pata -->
        Patas alegres
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between" id="navbarContent">
        <!-- Usuario base -->
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <!-- Usuario base -->
          <ng-container *ngIf="auth.isUser()">
            <li class="nav-item">
              <a routerLink="/profile" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Mi perfil</a>
            </li>
            <li class="nav-item">
              <a routerLink="/shelter" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Refugios</a>
            </li>
            <li class="nav-item">
              <a routerLink="/animal" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Animales</a>
            </li>
            <li class="nav-item">
              <a routerLink="/my-adoptions" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Pedidos de adopción</a>
            </li>
            <li class="nav-item">
              <a routerLink="/orders" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Compras</a>
            </li>
            <li class="nav-item">
              <a routerLink="/product" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Productos</a>
            </li>
          </ng-container>

          <!-- Usuario dueño -->
          <ng-container *ngIf="auth.isShelter()">
            <li class="nav-item">
              <a routerLink="/my-shelter" class="nav-link" (click)="closeMenu()">Mi refugio</a>
            </li>
            <li class="nav-item">
              <a routerLink="/rescue" class="nav-link" (click)="closeMenu()">Nuevo rescate</a>
            </li>
            <li class="nav-item">
              <a routerLink="/animal" class="nav-link" (click)="closeMenu()">Animales</a>
            </li>
            <li class="nav-item">
              <a routerLink="/product" class="nav-link" (click)="closeMenu()">Productos</a>
            </li>
            <li class="nav-item">
              <a routerLink="/order-shelter" class="nav-link" (click)="closeMenu()">Pedidos</a>
            </li>
            <li class="nav-item">
              <a routerLink="/shelter-adoptions" class="nav-link" (click)="closeMenu()">Solicitudes</a>
            </li>
          </ng-container>
        </ul>

        <button type="button" class="btn btn-secondary w-100 btn-logout" (click)="logOut(); closeMenu()">
          Cerrar sesión
        </button>
      </div>
    </div>
  </nav>
</header>