@import "styles/variables";

/* Bootstrap */
@import "bootstrap/scss/bootstrap";

:root {
  --background-color: #{$background-color};
  --background: #{$primary};

  --card: #ffffff;
  --card-foreground: #1f1f1f;

  --primary: #c64e31;
  --primary-foreground: #ffffff;

  --secondary: #F7E6E4;
  --secondary-foreground: #6B5A5D;

  --border: #e5e5e5;
  --radius: 0.625rem;

  --bs-emphasis-color: #{$primary-foreground};
  --bs-emphasis-color-rgb: #{to-rgb($primary-foreground)};
}

.pa-timeline {
  position: relative;
  padding-left: 24px;
}

.pa-timeline::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #e5e5e5;
}

.pa-timeline-item {
  position: relative;
  margin-bottom: 18px;
}

.pa-timeline-dot {
  position: absolute;
  left: -16px;
  top: 6px;
  width: 12px;
  height: 12px;
  background: #9abbec;
  border-radius: 50%;
}

.pa-timeline-content {
  background: #fafafa;
  padding: 10px 12px;
  border-radius: 8px;
}

.carousel-inner{
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

body {
  background-color: var(--background-color);
  color: var(--foreground);
}

.card {
  //background-color: var(--card);
  //color: var(--card-foreground);
  border-radius: 1rem;
  // border: 1px solid var(--border);
  border-radius: 16px;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all 0.25s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  object-fit: cover;
  transition: transform 0.35s ease;
}

.card:hover .card-img-top {
  transform: scale(1.08);
}

.card-img-top::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
}

.badge {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.buttom-header {
  flex-direction: column;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}

.form-control {
  border-color: var(--border);
  border-radius: var(--radius);
}

.pa-box {
  background-color: var(--secondary);
  border-radius: var(--radius);
  padding: 1rem;
}

@media (min-width: 992px) {
  .carousel-inner img {
    height: 500px;
  }

  .buttom-header {
    flex-direction: row;
  }
}

.card-header .nav {
  row-gap: 0.5rem;
}

.card-header .nav-link {
  border-radius: 999px;
}
.card-img-top{
height: 220px;
object-fit: cover;
}

.map-container {
  width: 100%;
  height: 320px;
  border-radius: 0.75rem;
  overflow: hidden;
}

@media (min-width: 992px) {
  .home-banner-img {
    height: 420px;
  }

  .map-container {
    height: 520px;
  }
}