<h1>Formulario para editar una persona</h1>
<div *ngIf="selectedPerson" id="{{ selectedPerson?.id }}">
  <form [formGroup]="PersonForm" (submit)="updatePerson()" class="form-container">
    <div class="form-fieldset">
      <label for="name">Nombre:</label>
      <input type="text" id="person-name" formControlName="name">
      <p class="error" *ngIf="PersonForm.get('name')?.invalid && PersonForm.get('name')?.touched">El nombre es obligatorio</p>
    </div>

    <div class="form-fieldset">
      <label for="surname">Apellido:</label>
      <input type="text" id="person-surname" formControlName="surname">
      <p class="error" *ngIf="PersonForm.get('surname')?.invalid && PersonForm.get('surname')?.touched">El apellido es obligatorio</p>
    </div>

    <div class="form-fieldset">
      <label for="doc_type">Tipo de documento:</label>
      <input type="text" id="person-doc_type" formControlName="doc_type">
      <p class="error" *ngIf="PersonForm.get('doc_type')?.invalid && PersonForm.get('doc_type')?.touched">El tipo de documento es obligatorio</p>
    </div>

    <div class="form-fieldset">
      <label for="doc_nro">Número de documento:</label>
      <input type="text" id="person-doc_nro" formControlName="doc_nro">
      <p class="error" *ngIf="PersonForm.get('doc_nro')?.invalid && PersonForm.get('doc_nro')?.touched">El número de documento es obligatorio</p>
    </div>

    <div class="form-fieldset">
      <label for="email">Email:</label>
      <input type="email" id="person-email" formControlName="email">
    </div>

    <div class="form-fieldset">
      <label for="phoneNumber">Teléfono:</label>
      <input type="text" id="person-phoneNumber" formControlName="phoneNumber">
    </div>

    <div class="form-fieldset">
      <label for="birthdate">Fecha de nacimiento:</label>
      <input type="date" id="person-birthdate" formControlName="birthdate">
      <p class="error" *ngIf="PersonForm.get('birthdate')?.invalid && PersonForm.get('birthdate')?.touched">La fecha de nacimiento es obligatoria</p>
    </div>

    <div class="form-fieldset">
      <label for="city">Ciudad:</label>
      <input type="text" id="person-city" formControlName="city">
      <p class="error" *ngIf="PersonForm.get('city')?.invalid && PersonForm.get('city')?.touched">La ciudad es obligatoria</p>
    </div>

    <div class="form-fieldset">
      <label for="nroCuit">CUIT:</label>
      <input type="number" id="person-nroCuit" formControlName="nroCuit">
    </div>

    <div class="form-submit">
      <button type="submit" [disabled]="PersonForm.invalid">Actualizar Persona</button>
    </div>
  </form>
</div>
