<div class="pa-page">
  <div class="pa-container">
    <div class="pa-card pa-section pa-panel">

      <div class="mb-3 btn-header-container">
        <div>
          <div class="pa-h3 mb-0">Mi refugio</div>
          <div class="pa-muted pa-small">Modificá los datos del refugio</div>
        </div>
        <div>
          <button routerLink="/profile" class="btn btn-secondary">
            Modificar mi perfil
          </button>
        </div>
      </div>

      <form [formGroup]="shelterForm" (submit)="updateShelter()" class="form-container">
        <div class="row g-3">
          <div class="col-12 col-lg-6 left-column">
            <div calss="center-content">
              <div class="form-fieldset mb-3 d-flex flex-column rounded">
                <label>Nombre:</label>
                <input type="text" formControlName="name">
                <p class="error" *ngIf="shelterForm.get('name')?.invalid && shelterForm.get('name')?.touched">El nombre es obligatorio</p>
              </div>

              <div class="form-fieldset mb-3 d-flex flex-column rounded">
                <label>Teléfono:</label>
                <input type="text" formControlName="phoneNumber">
                <p class="error" *ngIf="shelterForm.get('phoneNumber')?.invalid && shelterForm.get('phoneNumber')?.touched">El teléfono es obligatorio</p>
              </div>

              <div class="form-fieldset mb-3 d-flex flex-column rounded">
                <label>Matrícula Veterinaria:</label>
                <input type="text" formControlName="tuitionVet">
                <p class="error" *ngIf="shelterForm.get('tuitionVet')?.invalid && shelterForm.get('tuitionVet')?.touched">La matrícula es obligatoria</p>
              </div>

              <div class="form-fieldset mb-3 d-flex flex-column rounded">
                <label>Capacidad máxima:</label>
                <input type="number" formControlName="max_capacity">
                <p class="error" *ngIf="shelterForm.get('max_capacity')?.invalid && shelterForm.get('max_capacity')?.touched">La capacidad es obligatoria</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-3 mt-lg-0 right-column pt-lg-1">
            <div class="form-fieldset mb-3 d-flex flex-column rounded">
              <app-address-picker
                [form]="addressForm">
              </app-address-picker>
            </div>
          </div>
        </div>

        <div class="form-submit">
          <button type="submit" [disabled]="shelterForm.invalid" class="btn btn-primary w-100">
            Actualizar Refugio
          </button>
        </div>
      </form>
    </div>
  </div>
</div>