<div class="container-fluid bg-light min-vh-100 d-flex justify-content-center align-items-start py-5">
  <div class="col-12 col-lg-10 col-xl-8">

    <div class="text-center mb-5">
      <div class="fs-1">😊</div>
      <h1 class="fw-bold">Patas alegres</h1>
      <h4 class="mb-3">Paso 1 - Datos de cuenta</h4>
    </div>

    <div *ngIf="submitError" class="alert alert-danger">
      {{ submitError }}
    </div>

    <form [formGroup]="UserForm">
      <div class="row">

        <div class="col-12 col-lg-6">

        <div class="mb-4 text-center">
          <label class="form-label fw-semibold">Usuario</label>

          <input
            type="text"
            formControlName="username"
            placeholder="Ingresar aqui el usuario"
            class="form-control form-control-lg"
            [class.is-invalid]="
              (UserForm.get('username')?.touched && UserForm.get('username')?.invalid) ||
              !!usernameExistsError
            "
          />

          <p class="invalid-feedback" *ngIf="UserForm.get('username')?.touched && UserForm.get('username')?.hasError('required')">
            El usuario es obligatorio
          </p>

          <p class="invalid-feedback" *ngIf="UserForm.get('username')?.touched && UserForm.get('username')?.hasError('minlength')">
            El usuario debe tener al menos 3 caracteres
          </p>

          <p class="invalid-feedback" *ngIf="usernameExistsError">
            {{ usernameExistsError }}
          </p>

          <p class="invalid-feedback" *ngIf="checkingUsername">
            Validando usuario...
          </p>
        </div>

          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Contraseña</label>
            <input
              type="password"
              class="form-control form-control-lg"
              formControlName="password"
              placeholder="Ingresar aqui la contraseña"
              [class.is-invalid]="UserForm.get('password')?.invalid && UserForm.get('password')?.touched"
            />

            <p class="invalid-feedback" *ngIf="UserForm.get('password')?.touched && UserForm.get('password')?.hasError('required')">
              La contraseña es obligatoria
            </p>

            <p class="invalid-feedback" *ngIf="UserForm.get('password')?.touched && UserForm.get('password')?.hasError('pattern')">
              Debe tener mínimo 8 caracteres, una mayúscula, una minúscula, un número y un símbolo
            </p>
          </div>

          <div formGroupName="person">

            <div class="mb-4 text-center">
              <label class="form-label fw-semibold">Nombre</label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="name"
                placeholder="Ingresar aqui el nombre"
                [class.is-invalid]="UserForm.get('person.name')?.invalid && UserForm.get('person.name')?.touched"
              />

              <p class="invalid-feedback" *ngIf="UserForm.get('person.name')?.touched && UserForm.get('person.name')?.hasError('required')">
                El nombre es obligatorio
              </p>
            </div>

            <div class="mb-4 text-center">
              <label class="form-label fw-semibold">Apellido</label>
              <input
                type="text"
                class="form-control form-control-lg"
                formControlName="surname"
                placeholder="Ingresar aqui el apellido"
                [class.is-invalid]="UserForm.get('person.surname')?.invalid && UserForm.get('person.surname')?.touched"
              />

              <p class="invalid-feedback" *ngIf="UserForm.get('person.surname')?.touched && UserForm.get('person.surname')?.hasError('required')">
                El apellido es obligatorio
              </p>
            </div>

            <div class="mb-4 text-center">
              <label class="form-label fw-semibold">Tipo de documento</label>

              <select
                class="form-select form-select-lg"
                formControlName="doc_type"
                [class.is-invalid]="UserForm.get('person.doc_type')?.invalid && UserForm.get('person.doc_type')?.touched"
              >
                <option [ngValue]="null" disabled>Tipos de documentos</option>
                <option *ngFor="let doc of documentTypes" [ngValue]="doc.value">
                  {{ doc.label }}
                </option>
              </select>

              <p class="invalid-feedback" *ngIf="UserForm.get('person.doc_type')?.touched && UserForm.get('person.doc_type')?.hasError('required')">
                El tipo de documento es obligatorio
              </p>
            </div>

          </div>
        </div>

        <div class="col-12 col-lg-6" formGroupName="person">

          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Numero de documento</label>

            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="doc_nro"
              placeholder="Ingresar aqui el numero"
              [class.is-invalid]="UserForm.get('person.doc_nro')?.invalid && UserForm.get('person.doc_nro')?.touched"
            />

            <p class="invalid-feedback" *ngIf="UserForm.get('person.doc_nro')?.touched && UserForm.get('person.doc_nro')?.hasError('required')">
              El número de documento es obligatorio
            </p>

            <p class="invalid-feedback" *ngIf="UserForm.get('person.doc_nro')?.touched && UserForm.get('person.doc_nro')?.hasError('pattern')">
              El número de documento solo debe contener números
            </p>
          </div>

          <div class="mb-4">
            <label class="form-label fw-semibold">Numero de cuit</label>

            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="nroCuit"
              placeholder="Ingresar aqui el numero de cuit"
              [class.is-invalid]="UserForm.get('person.nroCuit')?.invalid && UserForm.get('person.nroCuit')?.touched"
            />

            <p class="invalid-feedback" *ngIf="UserForm.get('person.nroCuit')?.touched && UserForm.get('person.nroCuit')?.hasError('pattern')">
              El CUIT debe tener exactamente 11 números
            </p>
          </div>

          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Fecha de nacimiento</label>

            <input
              type="date"
              class="form-control form-control-lg"
              formControlName="birthdate"
              [class.is-invalid]="UserForm.get('person.birthdate')?.invalid && UserForm.get('person.birthdate')?.touched"
            />

            <p class="invalid-feedback" *ngIf="UserForm.get('person.birthdate')?.touched && UserForm.get('person.birthdate')?.hasError('required')">
              La fecha de nacimiento es obligatoria
            </p>

            <p class="invalid-feedback" *ngIf="UserForm.get('person.birthdate')?.touched && UserForm.get('person.birthdate')?.hasError('futureDate')">
              La fecha de nacimiento no puede ser futura
            </p>
          </div>

          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Numero de telefono</label>

            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="phoneNumber"
              placeholder="Ingresar aqui el numero de telefono"
              [class.is-invalid]="UserForm.get('person.phoneNumber')?.invalid && UserForm.get('person.phoneNumber')?.touched"
            />

            <p class="invalid-feedback" *ngIf="UserForm.get('person.phoneNumber')?.touched && UserForm.get('person.phoneNumber')?.hasError('pattern')">
              El teléfono debe tener entre 6 y 15 números
            </p>
          </div>

          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Email</label>

            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="email"
              placeholder="Ingresar aqui el email"
              [class.is-invalid]="UserForm.get('person.email')?.invalid && UserForm.get('person.email')?.touched"
            />

            <p class="invalid-feedback" *ngIf="UserForm.get('person.email')?.touched && UserForm.get('person.email')?.hasError('email')">
              El email no tiene un formato válido
            </p>
          </div>

          <div class="form-fieldset mb-3 d-flex flex-column rounded">
            <app-address-picker [form]="addressForm"></app-address-picker>

            <p class="invalid-feedback" *ngIf="addressForm.get('formattedAddress')?.touched && addressForm.get('formattedAddress')?.hasError('required')">
              Tenés que seleccionar una dirección válida
            </p>

            <p class="invalid-feedback" *ngIf="addressForm.get('city')?.touched && addressForm.get('city')?.hasError('required')">
              La ciudad es obligatoria
            </p>

            <p class="invalid-feedback" *ngIf="addressForm.get('province')?.touched && addressForm.get('province')?.hasError('required')">
              La provincia es obligatoria
            </p>

            <p class="invalid-feedback" *ngIf="addressForm.get('country')?.touched && addressForm.get('country')?.hasError('required')">
              El país es obligatorio
            </p>
          </div>

        </div>
      </div>

      <div class="d-flex justify-content-center gap-2 mt-5">
        <button
          type="button"
          class="btn btn-secondary btn-lg px-5 py-3"
          (click)="goBack()"
          routerLink="/login"
        >
          Volver
        </button>
        <button
          type="button"
          class="btn btn-secondary btn-lg px-5 py-3"
          style="min-width: 300px;"
          (click)="next()"
        >
          Continuar
        </button>
      </div>
    </form>
  </div>
</div>