<div class="container-fluid bg-light min-vh-100 d-flex justify-content-center  align-items-start py-5">
  <div class="col-12 col-lg-10 col-xl-8">

    <!-- Header -->
    <div class="text-center mb-5">
      <div class="fs-1">😊</div>
      <h1 class="fw-bold">Patas alegres</h1>
      <h4 class="mb-3">Paso 2 - Datos del refugio</h4>

    <form [formGroup]="ShelterForm">
      <div class = "row">
        <div class="col-12 col-lg-6">
          <!-- NAME -->
          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Nombre de tu refugio</label>
            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="name"
              placeholder="Ingresar aqui el nombre del refugio"
            />
            <p class="error" *ngIf="ShelterForm.get('name')?.invalid && ShelterForm.get('name')?.touched">El nombre del refugio es obligatorio</p>
          </div>

          <!-- Contacto -->
          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Numero de contacto</label>
            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="phoneNumber"
              placeholder="Ingresar aqui el numero de contacto"
            />
          </div>

          <!-- Veterinaria -->
          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Matricula de veterinaria</label>
            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="tuitionVet"
              placeholder="Ingresar aqui la matricula de veterinaria"
            />
            <p class="error" *ngIf="ShelterForm.get('tuitionVet')?.invalid && ShelterForm.get('tuitionVet')?.touched">La matricula de veterinaria es obligatoria</p>
          </div>

          <!-- Capacidad maxima -->
          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Capacidad maxima</label>
            <input
              type="number"
              class="form-control form-control-lg"
              formControlName="max_capacity"
              placeholder="Ingresar aqui la capacidad maxima del refugio"
            />
            <p class="error" *ngIf="ShelterForm.get('max_capacity')?.invalid && ShelterForm.get('max_capacity')?.touched">La capacidad maxima es obligatoria</p>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <!-- PAIS -->
          <div class="mb-4">
            <select
              class="form-select form-select-lg"
              [(ngModel)]="selectedCountry"
              [ngModelOptions]="{standalone: true}"
              (change)="onCountryChange()"
            >
              <option value="">Seleccione un país</option>

              <option *ngFor="let country of countries"
                      [value]="country.id">
                {{ country.name }}
              </option>
            </select>
          </div>

          <!-- PROVINCIA -->
          <div class="mb-4 text-center">
            <select
              class="form-select form-select-lg"
              [(ngModel)]="selectedProvince"
              [ngModelOptions]="{standalone: true}"
              (change)="onProvinceChange()"
              [disabled]="!selectedCountry"
            >
              <option value="">Seleccione una provincia</option>

              <option *ngFor="let province of provinces"
                      [value]="province.id">
                {{ province.name }}
              </option>
            </select>
          </div>

          <!-- CIUDAD -->
          <div class="mb-4">
            <select
              class="form-select form-select-lg"
              formControlName="city"
              [disabled]="!selectedProvince"
            >
              <option value="">Seleccione una ciudad</option>

              <option *ngFor="let city of cities"
                      [value]="city.id">
                {{ city.name }}
              </option>
            </select>
          </div>

          <!-- STREET -->
          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Calle</label>
            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="street"
              placeholder="Ingresar aqui el nombre de la calle"
            />
            <p class="error" *ngIf="ShelterForm.get('street')?.invalid && ShelterForm.get('street')?.touched">El tipo de documento es obligatorio</p>
          </div>

          <!-- NUMBER -->
          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Numero</label>
            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="streetNumber"
              placeholder="Ingresar aqui el numero de calle"
            />
            <p class="error" *ngIf="ShelterForm.get('streetNumber')?.invalid && ShelterForm.get('streetNumber')?.touched">El numero de calle es obligatorio</p>
          </div>
        </div>
      </div>

      <div class="d-flex gap-2">
        <button class="btn btn-secondary w-50"
                routerLink="/signIn/shelter/account">
          Volver
        </button>

        <button class="btn btn-success w-50"
                (click)="finish()">
          Finalizar
        </button>
      </div>

    </form>

  </div>
</div>