<div class="container-fluid bg-light min-vh-100 d-flex justify-content-center align-items-start py-5">
  <div class="col-12 col-lg-10 col-xl-8">

    <div class="text-center mb-5">
      <div class="fs-1">😊</div>
      <h1 class="fw-bold">Patas alegres</h1>
      <h4 class="mb-3">Paso 2 - Datos del refugio</h4>
    </div>

    <div *ngIf="submitError" class="alert alert-danger">
      {{ submitError }}
    </div>

    <form [formGroup]="ShelterForm" (ngSubmit)="finish()">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Nombre de tu refugio</label>
            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="name"
              placeholder="Ingresar aquí el nombre del refugio"
            />
            <p class="error" *ngIf="ShelterForm.get('name')?.touched && ShelterForm.get('name')?.hasError('required')">
              El nombre del refugio es obligatorio
            </p>
            <p class="error" *ngIf="backendErrors['shelter.name']">
              {{ backendErrors['shelter.name'] }}
            </p>
          </div>

          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Número de contacto</label>
            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="phoneNumber"
              placeholder="Ingresar aquí el número de contacto"
            />
            <p class="error" *ngIf="ShelterForm.get('phoneNumber')?.touched && ShelterForm.get('phoneNumber')?.hasError('required')">
              El teléfono del refugio es obligatorio
            </p>
            <p class="error" *ngIf="backendErrors['shelter.phoneNumber']">
              {{ backendErrors['shelter.phoneNumber'] }}
            </p>
          </div>

          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Matrícula de veterinaria</label>
            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="tuitionVet"
              placeholder="Ingresar aquí la matrícula veterinaria"
            />
            <p class="error" *ngIf="ShelterForm.get('tuitionVet')?.touched && ShelterForm.get('tuitionVet')?.hasError('required')">
              La matrícula veterinaria es obligatoria
            </p>
            <p class="error" *ngIf="backendErrors['shelter.tuitionVet']">
              {{ backendErrors['shelter.tuitionVet'] }}
            </p>
          </div>

          <div class="mb-4 text-center">
            <label class="form-label fw-semibold">Capacidad máxima</label>
            <input
              type="number"
              class="form-control form-control-lg"
              formControlName="max_capacity"
              placeholder="Ingresar aquí la capacidad máxima"
            />
            <p class="error" *ngIf="ShelterForm.get('max_capacity')?.touched && ShelterForm.get('max_capacity')?.hasError('required')">
              La capacidad máxima es obligatoria
            </p>
            <p class="error" *ngIf="ShelterForm.get('max_capacity')?.touched && ShelterForm.get('max_capacity')?.hasError('min')">
              La capacidad máxima debe ser mayor a 0
            </p>
            <p class="error" *ngIf="backendErrors['shelter.max_capacity']">
              {{ backendErrors['shelter.max_capacity'] }}
            </p>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="form-fieldset mb-3 d-flex flex-column rounded">
            <app-address-picker [form]="addressForm"></app-address-picker>

            <p class="error" *ngIf="backendErrors['shelter.address']">{{ backendErrors['shelter.address'] }}</p>
            <p class="error" *ngIf="backendErrors['shelter.address.formattedAddress']">{{ backendErrors['shelter.address.formattedAddress'] }}</p>
            <p class="error" *ngIf="backendErrors['shelter.address.city']">{{ backendErrors['shelter.address.city'] }}</p>
            <p class="error" *ngIf="backendErrors['shelter.address.province']">{{ backendErrors['shelter.address.province'] }}</p>
            <p class="error" *ngIf="backendErrors['shelter.address.country']">{{ backendErrors['shelter.address.country'] }}</p>
          </div>
        </div>
      </div>

      <div class="d-flex gap-2">
        <button class="btn btn-secondary w-50" type="button" (click)="goBack()">
          Volver
        </button>

        <button class="btn btn-success w-50" type="submit">
          Finalizar
        </button>
      </div>
    </form>

  </div>
</div>